<!-- Default home page -->

<div ng-controller="MainCtrl">

    <script type="text/ng-template" id="submit.html">
        <div class="modal-header">
            <h3 class="modal-title">Work Order Submitted</h3>
        </div>
        <div class="modal-body">
            Work Order: <b><a href="/workorder/s/{{sid}}">{{ wid }}</b>
        </div>
        <ul>
        <h6 ng-show="files.length > 0">Files</h6>
          <li ng-repeat="file in files">
            <a href="/workorder/file/{{file.fd}}">{{file.filename}} {{file.sizeHR}}</a>
          </li>
        </ul>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

        <table width="100%" border="0" cellspacing="2" cellpadding="0">
            <tr>
                <td align="left" valign="bottom" width="30%"><img src="http://65.164.152.139/images/4color3d.gif" alt="" width="181" height="38" border="0" /></td>
                <td align="right" valign="bottom"><span class="heading">6555 Katella Avenue   •   Cypress, CA  90630   •   U.S.A.</span></td>
            </tr>
        </table>

        <h3 style="text-align:right;background-color: #005698;color:white;width:100%;padding:10px;">Job Request</h3>
        </div>
    </div>
</div>

<div class="container">

<form class="form-inline">

    <!-- Job Request -->
    <div class="row clearfix">
        <div class="col-md-12 column">
                        <table class="table">
                            <tr >
                                <td><span class="heading">Job Name:</span></td>
                                <td colspan="4" class="jobName">
                                <input class="form-control" type="text" name="job_name" style="width:100%;" tabindex="1" value="" ng-model="order.jobName" required/></td>
                            </tr>
                            <tr>
                                <td><span class="heading">Entry Date:</span></td>
                                <td>
                                <input type="text" id="edate"  class="form-control"  name="edate" size="30" tabindex="2" value="" ng-model="order.edate"/>
                                </td>
                                <td width="10%"></td>
                                <td><span class="heading">Div/Dept/Sec:</span></td>
                                <td class="dds"><input type="text"  class="form-control" name="dds" size="24" tabindex="6"/ value=""  ng-model="order.dds" placeholder="00/00/00" required pattern="[0-9]{2}[\/][0-9]{2}[\/][0-9][0-9]"></td>
                            </tr>
                            <tr>
                                <td><span class="heading">Due Date:</span></td>
                                <td>
                                <input type="text" id="ddate" name="ddate" class="form-control" size="30" tabindex="3" value=""  ng-model="order.ddate"/></td>
                                <td width="10%"></td>
                                <td><span class="heading">GL #:</span></td>
                                <td class="gl">

                                <input type="number"  class="form-control" name="gl" size="24" tabindex="7" value="" required  ng-model="order.gl" ngMinlength="5" placeholder="000000"/></td>
                            </tr>
                            <tr>
                                <td><span class="heading">Requester:</span></td>
                                <td class="requester"><input type="text"  class="form-control" name="requester" size="30" tabindex="4" value=""  ng-model="order.requester"/></td>
                                <td width="10%"></td>
                                <td><span class="heading">Quantity:</span></td>
                                <td><input type="number"  onkeypress="return event.charCode >= 48 && event.charCode <= 57"  class="form-control" name="qty" size="24" tabindex="8" value=""  ng-model="order.qty" required/></td>
                            </tr>
                            <tr>
                                <td><span class="heading">Phone #:</span></td>
                                <td><input type="text"  class="form-control" name="phone" size="30" tabindex="5" value=""  ng-model="order.phone"/></td>
                                <td width="10%"></td>
                                <td><span class="heading">Email:</span></td>
                                <td class="email"><input type="email"  class="form-control" name="email" size="24" tabindex="9" value=""  ng-model="order.email" required placeholder="user@yamaha-motor.com"/></td>
                            </tr>
                        </table>
        </div>
    </div>


    <!-- Job Type -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Job Type</h5>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">

        <!-- <p ng-show="jobTypeInfo" class="bg-info animate-hide">Pick description that best describes overall project. <span ng-click="jobTypeInfo = false" ng-init="jobTypeInfo = true"  class="glyphicon glyphicon-remove" aria-hidden="true" style="float:right;"></span></p> -->

                          <table width="100%" >
                            <tr align="left" valign="top">
                              <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Ad" id="Ad" />

                              Ad</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Certificate" id="radio21" />
                                Certificate/Plaque/Diploma</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Illustration" id="radio22" />
                                Illustration</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Packaging" id="radio43" />
                                Packaging</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Animation" id="radio" />
                                Animation</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Collateral" id="radio20" />
                                Collateral</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Image Gather" id="radio23" />
                                Image Gather/Sizing</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Photography" id="radio42" />
                                Photography</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Apparel Design" id="radio2" />
                                Apparel Design</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Copy" id="radio19" />
                                Copy</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Image Manipulation" id="radio24" />
                                Image Manipulation</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Postcard" id="radio41" />
                                Postcard</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="bottom"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Badge Name" id="radio3" />
                                Badge/Name Tag</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Cover" id="radio18" />
                                Cover</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Insert" id="radio25" />
                                Insert</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Poster" id="radio40" />
                                Poster</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Banner" id="radio4" />
                                Banner</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Decal" id="radio17" />
                                Decal/Sticker</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Installation Instruction" id="radio26" />
                                Installation Instructions</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Press Media Intro" id="radio39" />
                                Press Media Intro</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Brochure" id="radio5" />
                                Brochure</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Electronic" id="radio16" />
                                Electronic File</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Instruction Card" id="radio27" />
                                Instruction Card</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Scan" id="radio38" />
                                Scan</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Bulletin" id="radio6" />
                                Bulletin</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Envelope" id="radio15" />
                                Envelope</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Label" id="radio28" />
                                Label</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Signage" id="radio37" />
                                Signage</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Burn CD/DVD" id="radio7" />
                                Burn CD/DVD</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Exchange" id="radio14" />
                                Exchange</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Letter" id="radio29" />
                                Letter</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Signs/Flyer" id="radio36" />
                                Signs/Flyer</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Calendar" id="radio8" />
                                Calendar</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Flyer" id="radio13" />
                                Flyer</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Logo Design" id="radio30" />
                                Logo Design</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Ticket/Coupon" id="radio35" />
                                Ticket/Coupon</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Catalog" id="radio9" />
                                Catalog</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Form" id="radio12" />
                                Form</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Manual" id="radio31" />
                                Manual</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Vehicle/Trailer Paint Design" id="radio34" />
                                Vehicle/Trailer Paint Design</td>
                            </tr>
                            <tr align="left" valign="top">
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Card" id="radio10" />
                                Card</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Hangtag" id="radio11" />
                                Hangtag</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Newsletter" id="radio32" />
                                Newsletter</td>
                                <td align="left" valign="middle"><input name="job_type" class="form-control job-type" ng-model="order.jobType"  required type="radio" value="Other" id="radio33" />
                                  Other
                              <input name="other_field" class="form-control"  type="text" id="other_field" size="18" value="" ng-show="order.jobType == 'Other'"  ng-model="order.otherField"/></td>
                            </tr>

                        </table>

        </div>
    </div>

    <!-- Distribution -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Distribution</h5>
        </div>
    </div>




    <div class="row clearfix">

        <div class="col-md-3 column form-group form-distribution">
            <input type="checkbox" class="form-control dist" name="delivertorequester" value="delivertorequester" ng-model="order.deliver_to_requester"  />
            <label for="delivertorequester">Deliver to Requester</label>
        </div>

        <div class="col-md-3 column form-group form-distribution">
            <input type="checkbox" class="form-control dist"  name="planattached" value="planattached" ng-model="order.plan_attached"  />
            <label for="">Distribution Plan Attached</label>
        </div>

        <div class="col-md-2 column form-group form-distribution">
            <input type="checkbox" class="form-control dist"  name="mail" value="mail" ng-model="order.mail" />
            <label for="">Mail</label>
        </div>

        <div class="col-md-2 column form-group form-distribution">
            <input type="checkbox" class="form-control dist"  name="stock" value="stock" ng-model="order.stock" />
            <label for="">Stock</label>
        </div>

        <div class="col-md-2 column form-group form-distribution">
            <input type="checkbox" class="form-control dist"  name="other2" value="other2"  ng-model="order.otherDist"/>
            <label for="">Other</label>
            <input name="other_field" class="form-control"  type="text" id="other_field" size="18" value="" ng-show="order.otherDist === true"  ng-model="order.otherDistText"/>
        </div>

    </div>

    <!-- Missing Project Materials -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Missing Project Materials</h5>
        </div>
    </div>

    <div class="row clearfix">

        <div class="col-md-6 column form-group form-distribution">
            <input type="checkbox" ng-selected="true" class="form-control dist" name="allsupplied" value="true" ng-model="order.allsupplied"  />
            <label for="delivertorequester">All project information supplied</label>
        </div>

        <div class="col-md-6 column form-group form-distribution">
            <input type="checkbox" class="form-control dist"  name="suppliedlater" value="true" ng-model="order.suppliedlater"  />
            <label for="">Items to be supplied later Item</label>
        </div>

    </div>

    <div class="row clearfix project-material">

        <div class="col-md-4 column form-group ">
            <div class="form-group">
                <label for="">Item</label>
                <input class="form-control project-material" type="text" name="Item1"  tabindex="12" value="" ng-model="order.items[0].item"/>
                <input class="form-control project-material" type="text" name="Item2"  tabindex="15" value="" ng-model="order.items[1].item"/>
                <input class="form-control project-material" type="text" name="Item3"  tabindex="18" value="" ng-model="order.items[2].item"/>
            </div>

        </div>

        <div class="col-md-4 column form-group ">

            <div class="form-group">
                <label for="">Provided By</label>
                <input class="form-control project-material"  type="text" name="ProvidedBy1"  tabindex="13" value="" ng-model="order.items[0].provided_by"/>
                <input class="form-control project-material"  type="text" name="ProvidedBy2"  tabindex="16" value="" ng-model="order.items[1].provided_by"/>
                <input class="form-control project-material"  type="text" name="ProvidedBy3"  tabindex="19" value="" ng-model="order.items[2].provided_by"/>
            </div>

        </div>

        <div class="col-md-4 column form-group ">

            <div class="form-group">
                <label for="">Date Promised</label>
                <input class="form-control project-material" type="text" id="DatePromised1" name="DatePromised1" tabindex="13" value="" ng-model="order.items[0].date_promised"/>
                <input class="form-control project-material" type="text" id="DatePromised2" name="DatePromised2"  tabindex="17" value="" ng-model="order.items[1].date_promised"/>
                <input class="form-control project-material" type="text" id="DatePromised3" name="DatePromised3"  tabindex="20" value="" ng-model="order.items[2].date_promised"/>
            </div>

        </div>

    </div>



    <!-- Proof -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Proof</h5>
        </div>
    </div>






    <div class="row clearfix">

        <div class="col-md-3 column form-group form-proof">
            <input type="checkbox" class="form-control proof" name="serviceproof" value="serviceproof" ng-model="order.proof.serviceproof"  />
            <label for="delivertorequester">Standard Service Proof List</label>
        </div>

        <div class="col-md-3 column form-group form-proof">
            <input type="checkbox" class="form-control proof"  name="partproof" value="partproof" ng-model="order.proof.partproof"  />
            <label for="">Standard Parts Proof List</label>
        </div>

        <div class="col-md-3 column form-group form-proof">
            <input type="checkbox" class="form-control proof"  name="specialproof" value="specialproof" ng-model="order.proof.specialproof" />
            <label for="">Special Proof List Attached</label>
        </div>

        <div class="col-md-3 column form-group form-proof">
            <input type="checkbox" class="form-control proof"  name="none" value="none" ng-model="order.proof.none" />
            <label for="">None</label>
        </div>


    </div>


    <div class="row clearfix">
        <div class="col-md-12 column">
        </div>
    </div>




    <!-- Description -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Description</h5>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column form-group">
            <textarea name="description" id="description" class="form-control" rows="3" ng-model="order.description"></textarea>
        </div>
    </div>




    <!-- Attachment -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Attachment</h5>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-8 column">
            <div class="fileinput fileinput-new center" data-provides="fileinput" style="width: 100%;">
              <div class="fileinput-preview thumbnail center"  ng-show="files.length > 0" data-trigger="fileinput" style="width: 50%; height: 200px; margin-left: 25%;"></div>
              <div>
                <span class="btn btn-default btn-file" style="margin-left:25%"><span class="fileinput-new">Select File(s)</span>
                <span class="fileinput-exists">Change</span><input id="file1" type="file" name="..." ng-file-select  ng-model="files" ng-multiple="true" ng-capture="'camera'"></span>
                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove {{files.length}} file{{ files.length > 1 ? 's':''}}</a>
              </div>
            </div>
        </div>
        <div class="col-md-4 column"  ng-show="files.length > 1">
            <h5>Files: </h5>
            <div ng-repeat="file in files">
                <p>
                    <span ng-show="$index == selectedFile" >
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </span>
                    <span ng-click="showFile(file, $index)">{{file.name}}</span>
                </p>
            </div>
        </div>

    </div>

<progressbar ng-show="pb" animate="false" value="dynamic" type="success"><b>{{dynamic}}%</b></progressbar>

    <!--  Buttons -->
    <div class="row clearfix" style="margin-top:20px;">
        <div class="col-md-12 column text-center" >
            <input class="btn btn-lg btn-default" type="reset" ng-click="clearForm()" />
            <input class="btn btn-lg btn-primary" type="submit" name="Submit" ng-click="submitForm()" />
        </div>
    </div>
    <br/>
   </form>
</div>


</div>
