<!DOCTYPE html>
<html>
  <head>
    <title>Job Order Form -- Yamaha Motor Corporation , U.S.A </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"></link>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
  </head>

  <body ng-app="JobOrder">
    <%- body %>



    <!--
        Client-side Templates
        ========================

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


<script>
    //optional need to be loaded before angular-file-upload-shim(.min).js
    FileAPI = {
        jsUrl: 'http://cdn.ldstudio.com/ymus/FileAPI.min.js',
        flashUrl: 'http://cdn.ldstudio.com/ymus/FileAPI.flash.swf'
        //,forceLoad: true, html5: false //to debug flash in HTML5 browsers
        //noContentTimeout: 10000 (see #528)
    }
</script>

    <!--

      Client-side Javascript
      ========================

    -->

    <script src="/lib/jquery-1.11.2.min.js"></script>
    <script src="/lib/moment-with-locales.min.js"></script>

    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/FileAPI.min.js"></script>
    <script src="/js/dependencies/_angular.min.js"></script>
    <script src="/js/dependencies/angular-file-upload-all.min.js"></script>
    <script src="/js/dependencies/angular-file-upload-shim.min.js"></script>
    <script src="/js/dependencies/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/dependencies/collapse.js"></script>
    <script src="/js/dependencies/ngsails.io.js"></script>
    <script src="/js/dependencies/transition.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="/js/dependencies/underscore-min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/routes.js"></script>
    <script src="/js/services.js"></script>
    <!--SCRIPTS END-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59662435-1', 'auto');
  ga('send', 'pageview');

</script>


  </body>
</html>
