<!-- Default home page -->

<div>


<div class="container">

<form class="form-inline">

    <!-- Job Request -->
    <div class="row clearfix">
        <div class="col-md-12 column">
                        <table class="table">
                            <tr >
                                <td><span class="heading">Job Name:</span></td>
                                <td colspan="4" class="jobName">
                               		<%= jobName %>
                               </td>
                            </tr>
                            <tr>
                                <td><span class="heading">Entry Date:</span></td>
                                <td>
                                <input type="text" id="edate"  class="form-control"  name="edate" size="30" tabindex="2" value="" ng-model="edate"/>
                                </td>
                                <td width="10%"></td>
                                <td><span class="heading">Div/Dept/Sec:</span></td>
                                <td class="dds"> <%= dds %></td>
                            </tr>
                            <tr>
                                <td><span class="heading">Due Date:</span></td>
                                <td>
                                <input type="text" id="ddate" name="ddate" class="form-control" size="30" tabindex="3" value=""  ng-model="ddate"/></td>
                                <td width="10%"></td>
                                <td><span class="heading">GL #:</span></td>
                                <td class="gl"><%= gl %></td>
                            </tr>
                            <tr>
                                <td><span class="heading">Requester:</span></td>
                                <td class="requester"><input type="text"  class="form-control" name="requester" size="30" tabindex="4" value=""  ng-model="requester"/></td>
                                <td width="10%"></td>
                                <td><span class="heading">Quantity:</span></td>
                                <td><%= qty %></td>
                            </tr>
                            <tr>
                                <td><span class="heading">Phone #:</span></td>
                                <td><%= phone %></td>
                                <td width="10%"></td>
                                <td><span class="heading">Email:</span></td>
                                <td class="email"><%= email %></td>
                            </tr>
                        </table>
        </div>
    </div>


    <!-- Job Type -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Job Type</h5>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">


                          <table width="100%" >
                            <tr align="left" valign="top">
                              <td align="left" valign="middle">
                                  <%=jobType%>
                              </td>
                            </tr>

                        </table>

        </div>
    </div>

    <!-- Distribution -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Distribution</h5>
        </div>
    </div>




    <div class="row clearfix">

                                                    <%=deliver_to_requester ? 'Deliver to Requester':''%><br/>

                                                    <%=plan_attached ? 'Plan Attached<br/>':''%><br/>

                                                    <%=mail ? 'Mail<br/>':''%><br/>

                                                    <%=stock ? 'Stock<br/>':''%><br/>

                                                    <%=otherDist ? 'Other: ' +otherDistText :''%>

    </div>

    <!-- Missing Project Materials -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Missing Project Materials</h5>
        </div>
    </div>

    <div class="row clearfix">

                                                    <%=allsupplied ? 'All Supplied':''%>
                                                    <%=supplied_later ? 'Supply Later':''%>

    </div>

    <div class="row clearfix project-material">


    </div>



    <!-- Proof -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Proof</h5>

                                                    <%= proof && proof.serviceproof ? 'Standard Service Proof List':'' %>
                                                    <%= proof && proof.specialproof ? 'Special Proof List Attached':'' %>
                                                    <%= proof && proof.partproof ? 'Standard Parts Proof List':'' %>
                                                    <%= proof && proof.none ? 'None':'' %>
        </div>
    </div>



    <div class="row clearfix">
        <div class="col-md-12 column">
        </div>
    </div>




    <!-- Description -->

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Description</h5>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column form-group">
            <%=description%>
        </div>
    </div>




    <!-- Attachment -->
    <!-- -->
    <div class="row clearfix">
        <div class="col-md-12 column">

        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
        <h5 style="text-align:left;background-color: #005698;color:white;width:100%;padding:10px;">Attachment</h5>
                <ul>
            <% for(var x = 0; x < files.length; x++){ %>
                                                          <li class="files">
                                                            <a href="http://<%=host%>/workorder/file/<%=files[x].fd%>">
                                                            <%=files[x].filename%> <%=files[x].sizeHR%>
                                                            </a>
                                                          </li>
                                                          <% } %>
        </ul>
        </div>
    </div>


   </form>
</div>


</div>
