<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Yamaha Publication Department Work Order</title>
  <style type="text/css" media="screen">

    /* Force Hotmail to display emails at full width */
    .ExternalClass {
      display: block !important;
      width: 100%;
    }

    /* Force Hotmail to display normal line spacing */
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
      line-height: 100%;
    }

    body,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
    }

    body,
    p,
    td {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: #333333;
      line-height: 1.5em;
    }

    h1 {
      font-size: 24px;
      font-weight: normal;
      line-height: 24px;
    }

    body,
    p {
      margin-bottom: 0;
      -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
    }

    img {
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    a img {
      border: none;
    }

    .background {
      background-color: #333333;
    }

    table.background {
      margin: 0;
      padding: 0;
      width: 100% !important;
    }

    .block-img {
      display: block;
      line-height: 0;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a,
    a:link {
      color: #2A5DB0;
      text-decoration: underline;
    }

    table td {
      border-collapse: collapse;
    }

    td {
      vertical-align: top;
      text-align: left;
    }

    .wrap {
      width: 600px;
    }

    .wrap-cell {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .header-cell,
    .body-cell,
    .footer-cell {
      padding-left: 20px;
      padding-right: 20px;
    }

    .header-cell {
      background-color: #eeeeee;
      font-size: 24px;
      color: #ffffff;
    }

    .body-cell {
      background-color: #ffffff;
      padding-top: 30px;
      padding-bottom: 34px;
    }

    .footer-cell {
      background-color: #eeeeee;
      text-align: center;
      font-size: 13px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .card {
      width: 90%;
      margin: 0 auto;
    }

    .data-heading {
      text-align: right;
      padding: 10px;
      background-color: #ffffff;
      font-weight: bold;
    }

    .data-value {
      text-align: left;
      padding: 10px;
      background-color: #ffffff;
    }

    .force-full-width {
      width: 100% !important;
    }

      .files{
      list-style: none;
      }

  </style>
  <style type="text/css" media="only screen and (max-width: 600px)">
    @media only screen and (max-width: 600px) {
      body[class*="background"],
      table[class*="background"],
      td[class*="background"] {
        background: #eeeeee !important;
      }

      table[class="card"] {
        /** width: auto !important; **/
      }

      td[class="data-heading"],
      td[class="data-value"] {
        display: block !important;
      }

      td[class="data-heading"] {
        text-align: left !important;
        padding: 10px 10px 0;
      }

      table[class="wrap"] {
        width: 100% !important;
      }

      td[class="wrap-cell"] {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor="" class="background">
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="background">
    <tr>
      <td align="center" valign="top" width="100%" class="background">
        <center>
          <table cellpadding="0" cellspacing="0" width="600" class="wrap">
            <tr>
              <td valign="top" class="wrap-cell" style="padding-top:30px; padding-bottom:30px;">
                <table cellpadding="0" cellspacing="0" class="force-full-width">
                  <tr>
                   <td height="60" valign="top" class="header-cell">
                      <img width="196" height="60" src="http://res.cloudinary.com/ldstudio/image/upload/c_lpad,h_60,w_196/v1423898336/800px-YamahaMotorCo.svg_lee5pt.png" alt="logo">
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" class="body-cell" style="background-color:#FFF">
                      <table cellpadding="0" cellspacing="0" width="100%" bgcolor="orange">
                        <tr>
                          <td valign="top" style="padding-bottom:20px; background-color:#FFF;">
                          Hi <%=order.requester%>,<br><br>
                          We would like you to know that we have received your Virtual Ticket request! To view your work order<!--  or make any changes --> please
                          <a href="http://<%=host%>/workorder/s/<%= order.shortid %>">
                          	click here.
                          </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff">
                            <tr>
                              <td align="center" style="padding:0px 0;">
                                <center>
                                  <table cellspacing="0" cellpadding="0" class="card">
                                    <tr>
                                      <td style="background-color:#005698; text-align:center; padding:10px; color:white; ">
                                        <%=order.jobName%>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="border:1px solid #005698;">
                                        <table cellspacing="0" cellpadding="20" width="100%">
                                          <tr>
                                            <td>


                                              <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#ffffff">

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Entered:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.edate%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Due Date:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.ddate%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Requester:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.requester%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Phone:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.phone%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    E-Mail:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.email%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Div/Dept/Sec:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.dds%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    GL#:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.gl%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                  </td>
                                                  <!-- noop -->
                                                  <td class="data-value">
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Qty:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.qty%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Job Type:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.jobType%>
                                                  </td>
                                                </tr>


                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Distribution:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.deliver_to_requester ? 'Deliver to Requester':''%>

                                                    <%=order.plan_attached ? 'Plan Attached<br/>':''%>

                                                    <%=order.mail ? 'Mail':''%>

                                                    <%=order.stock ? 'Stock':''%>

                                                    <%=order.otherDist ? 'Other: ' +order.otherDistText :''%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Project Materials:
                                                  </td>
                                                  <td class="data-value">
                                                    <%=order.allsupplied ? 'All Supplied':''%>
                                                    <%=order.supplied_later ? 'Supply Later':''%>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Proof:
                                                  </td>
                                                  <td class="data-value">
                                                    <%= order.proof && order.proof.serviceproof ? 'Standard Service Proof List':'' %>
                                                    <%= order.proof && order.proof.specialproof ? 'Special Proof List Attached':'' %>
                                                    <%= order.proof && order.proof.partproof ? 'Standard Parts Proof List':'' %>
                                                    <%= order.proof && order.proof.none ? 'None':'' %>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Description:
                                                  </td>
                                                  <td class="data-value">
                                                    <%= order.description %>
                                                  </td>
                                                </tr>

                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    Perm Link:
                                                  </td>
                                                  <td class="data-value">
                                                    <a href="http://<%=host%>/workorder/s/<%= order.shortid %>">Workorder: <%= order.wid %></a>
                                                  </td>
                                                </tr>
                                                <% if(order.files.length > 0){ %>
                                                <tr>
                                                  <td width="150" class="data-heading">
                                                    <!-- -->
                                                      File List:
                                                  </td>
                                                  <td class="data-value">
                                                    <!-- -->
                                                      <ul>
                                                          <% for(var x = 0; x < order.files.length; x++){ %>
                                                          <li class="files">
                                                          	<a href="http://<%=host%>/workorder/file/<%=order.files[x].fd%>">
                                                          	<%=order.files[x].filename%> <%=order.files[x].sizeHR%>
															</a>
                                                          </li>
                                                          <% } %>
                                                      </ul>
                                                  </td>
                                                </tr>

                                                <% } %>


                                              </table>



                                            </td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </center>
                              </td>
                            </tr>
                          </table>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top:20px;background-color:#ffffff;">
                            Thank you!<br/>
                            Yamaha Publications Department<br/>
                            Yamaha Motor Corporation, U.S.A.
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" class="footer-cell">
                      ♥ from the LD Studio Team
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

</body>
</html>
